body{
    background-color: #FFF5E8;
}
.sub-banner{
    width: auto;
    height: 600px;
    background: url(../img/sub-banner-process.jpg) no-repeat 50% 50% / cover
}
.sub-banner h1{
    color: white;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.process-intro{
    text-align: center;
    margin-top: var(--space-3x-large);
}
.process-intro p{
    margin-top: var(--space-small);
}
.process-list{
    margin-top: var(--space-3x-large);
    display: flex;
    flex-direction: column;
}
.process-item{
    flex: 1;
}
.process-list .content-wrap{
    display: flex;
}
.pi{flex: 1;}
.text-box{flex: 1;}