body{
    background-color: var(--pm-color-0);
}
.sub-banner{
    height: 600px;
    background: url(../img/sub-banner-process.jpg) no-repeat 50% 50% / cover;
}
.sub-banner .common-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}
.process-list .common-frame{
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
}
.process-list{
    margin-bottom: var(--space-3x-large);
}
.process-intro{
    margin-top: var(--space-3x-large);
    text-align: center;
    margin-bottom: var(--space-3x-large);
}
.process-intro p{
    margin-top: var(--space-small);
}
.process-item{
    display: flex;
    gap: var(--space-normal);
}
.process-item figure{
    flex: 1;
}
.process-item .text-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.process-item .text-box .ko{
    margin-top: var(--space-normal);
}
.process-item .text-box .en{
    margin-top: var(--space-small);
}
@media(max-width:990px){
    .process-item{
        display: flex;
        flex-direction: column;
        gap: var(--space-normal);
    }
    .process-list h4{
        margin-top: var(--space-large);
    }
}