:root{
    /* 화면에 따른 수치 */
    --basic-font-pc:20px;
    --basic-font-tab:18px;
    --basic-font-mobile:14px;

    /* 글씨크기 */
    --fs-h1:1.601rem;
    --fs-h2:1.423rem;
    --fs-h3:1.265rem;
    --fs-h4:1.125rem;
    --fs-bd1:1rem;
    --fs-bd2:0.875rem;
    --fs-det:0.765rem;

    /* 글씨 굵기 */
    --fw-reg:400;
    --fw-med:500;
    --fw-bold:800;

    /* 색상 */
    --pm-color-0:#FFFFF5;
    --pm-color-100:#FDFBC5;
    --pm-color-200:#F9F598;
    --pm-color-300:#F2EE70;
    --pm-color-400:#E9E450;
    --pm-color-500:#DDD738;
    --pm-color-600:#CDC727;
    --pm-color-700:#B8B31B;
    --pm-color-800:#A09B13;
    --pm-color-900:#747106;
    --pm-color-point:#1F2A24;
    /* 여백 */
    --space-2x-small:0.125rem;
    --space-x-small:0.25rem;
    --space-small:0.5rem;
    --space-normal:1rem;
    --space-large:2rem;
    --space-x-large:3rem;
    --space-2x-large:4rem;
    --space-3x-large:6rem;
}

